<div class="container">
  <div class="row">
    <div class="col" *ngFor="let movie of movies;">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{ movie.poster }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ movie.title }}</h4>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <a [routerLink]="['/movie', movie.id]" class="btn btn-primary">View Movie</a>
        </div>
      </div>
    </div>
  </div>
</div>


  
